<!doctype html>
<html lang="en">
  <head>
        
    <title>Media Admin</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <!-- For DataTables -->
    <!-- Added jquery plugin for data tables https://datatables.net/ -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.js"></script>
    

</head>
  <body>  

    <header>
      <%- include('../partials/adminheader'); %>
  </header>
    <div class= "container">
        <h2 align="center">News List</h2>
        <div class ="table-responsive">
    <table class="table table-stripped" id = "myTable">
        <caption>News List</caption>
        <thead class="thead-dark">
          <tr>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
            <th scope="col">publishedat</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
            <% for(var i=0; i<data.length; i++){%> 
                <tr>
                    <td><%= data[i].title %></td>
                    <td><%= data[i].description %></td>
                    <td><%= data[i].publishedat %></td>
                    <td>
                      <button data-target="#myModal" id="<%=data[i]._id%>" type="button" class="update btn btn-warning" data-toggle="modal">
                        Edit
                    </button>
                    <button type="button" class="delete btn btn-danger" id="<%=data[i]._id%>">
                      Delete
                  </button>
                    </td>
                </tr>   
            <% } %>       
        </tbody>
        </table>
    </div>
    </div>

    <!-- Modal Starts-->
    <div class="modal fade" id="myModal">
      <div class="modal-dialog">
          <div class="modal-content">
                <!-- Modal Header -->
              <div class="modal-header">
                  <h4 class="modal-title">Modal Heading</h4>
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>
                
                      <!-- Modal body -->
                      <div class="modal-body">
                        <form action="/update_news" method="POST" id="update_news">
                            <div class="form-group">
                                    <label for="id" >ID</label>
                                    <input type="text" id="update_id" name="id" class="form-control" required />
                            </div>
                            <div class="form-group">
                                <label for="title" >Title</label>
                                <input type="text" id="update_title" name="title" class="form-control" required />
                            </div>
                            <div class="form-group">
                                <label for="description" >Description</label>
                                <input type="text" id="update_description" name="description" class="form-control" required />
                            </div>
                            <div class="form-group">
                                <label for="url">Url</label>
                                <input type="text" id="update_url" name="url" class="form-control" required />
                            </div>
                            <div class="form-group">
                                <label for="urlToImage" >Url To Image</label>
                                <input type="text" id="update_url_to_image" name="url_to_image" class="form-control" required />
                            </div>
                            <div class="form-group">
                                <label for="publishedAt" >Published At</label>
                                <input type="text" id="update_publishedat" name="publishedat" class="form-control" required />
                            </div>
                        </form>
                    </div>
            
                    <!-- Modal footer -->
                    <div class="modal-footer">
                            
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                            <button type="submit" id="update_table" class="btn btn-primary">Update</button>
                    </div>
                
          </div>
      </div>
</div>
<script>

$(document).ready(function(){
        $('#myTable').DataTable()
    });

$('.delete').click(function() {
  var response = confirm("do you want to delete")
  id = this.id;
  console.log(response)
  if(response === true){
      $.ajax({
          type: 'DELETE',
          url: '/admin/newsDelete',
          method: 'delete',
          data: {id},
          success: function(data){
              //console.log('data is '+JSON.stringify(data));                   
              // Reloads the current page from the server (default: reload from cache)
              location.reload({forceGet:true})
          },
          error: function(err){
              alert(err);
          }
      });
  }
  else{
      console.log("Cancelled Delete")
  }
});        


$('.update').click(function() {
        id= this.id;
        console.log('id is '+id)
        $.ajax({
            type: 'POST',
            url: '/admin/find_by_id',
            data: {id},
            success: function(data){
                    $("#update_id").attr("value", data[0]._id)
                    $("#update_title").attr("value", data[0].title);
                    $("#update_description").attr("value", data[0].description);
                    $("#update_url").attr("value", data[0].url);
                    $("#update_url_to_image").attr("value", data[0].url_to_image);
                    $("#update_publishedat").attr("value", data[0].publishedat);
                    $('#myModal').modal({show: true});
            },
            error: function(){
                alert('No data');
            }
        });
    });


    $(function(){
        $('#update_table').on('click', function(e){
            var data = $('#update_news').serialize();
            //console.log(">>>>>", data)
            //e.preventDefault();
            $.ajax({
                url: '/admin/updateNews',
                type:'PUT',
                data : data,
                success: function(data){
                    // Reloads the current page from the server (default: reload from cache)
                    location.reload({forceGet:true})
                },
                error: function(err){
                    console.log("#update_table : err : ", err)
                }
            });
            $('#myModal .close').click()   
        });
    });

  
</script>


      </body>
    </html>